@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

/* font-family: 'Sansita Swashed', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* font-family: 'Poppins', sans-serif; */

ul {
    display: flex;
    list-style-type: none;
}

a {
    color: #CC9544;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 20px;
}

li {
    padding: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #CC9544;
}

table {
    border-collapse: collapse;
    color: (0, 85, 164);
    width: 50%;
}

th {
    font-family: monospace;
    border: thin solid #CC9544;
    color: #CC9544;
    width: 50%;
    padding: 5px;
}

td {
    font-family: sans-serif;
    border: thin solid #CC9544;
    color: #CC9544;
    width: 50%;
    padding: 5px;
    text-align: center;
}

h1 {
    color: #ac6e22;
    font-family: 'Sansita Swashed', sans-serif;
}

.container-header {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-family: 'Sansita Swashed', cursive;
    color: #ac6e22;
}

.paragraphHomePage {
    color: #CC9544;
    font-family: 'Poppins', sans-serif,
}

