{% extends 'base.html.twig' %}

{% block title %}Office index{% endblock %}

{% block body %}
    <h1>Office index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>NbrProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td>{{ office.id }}</td>
                <td>{{ office.nom }}</td>
                <td>{{ office.marque }}</td>
                <td>{{ office.prix }}</td>
                <td>{{ office.nbrProduit }}</td>
                <td>
                    <a href="{{ path('app_office_show', {'id': office.id}) }}">show</a>
                    <a href="{{ path('app_office_edit', {'id': office.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_office_new') }}">Create new</a>
{% endblock %}
