<form method="post" action="{{ path('app_bathroom_delete', {'id': bathroom.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bathroom.id) }}">
    <button class="btn">Delete</button>
</form>
