{% extends 'base.html.twig' %}

{% block title %}Edit Bathroom{% endblock %}

{% block body %}
    <h1>Edit Bathroom</h1>

    {{ include('bathroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bathroom_index') }}">back to list</a>

    {{ include('bathroom/_delete_form.html.twig') }}
{% endblock %}
