{% extends 'base.html.twig' %}

{% block title %}Bathroom index{% endblock %}

{% block body %}
    <h1>Bathroom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>NbrProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bathroom in bathrooms %}
            <tr>
                <td>{{ bathroom.id }}</td>
                <td>{{ bathroom.nom }}</td>
                <td>{{ bathroom.marque }}</td>
                <td>{{ bathroom.prix }}</td>
                <td>{{ bathroom.nbrProduit }}</td>
                <td>
                    <a href="{{ path('app_bathroom_show', {'id': bathroom.id}) }}">show</a>
                    <a href="{{ path('app_bathroom_edit', {'id': bathroom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bathroom_new') }}">Create new</a>
{% endblock %}
