{% extends 'base.html.twig' %}

{% block title %}New Bathroom{% endblock %}

{% block body %}
    <h1>Create new Bathroom</h1>

    {{ include('bathroom/_form.html.twig') }}

    <a href="{{ path('app_bathroom_index') }}">back to list</a>
{% endblock %}
