{% extends 'base.html.twig' %}

{% block title %}Bathroom{% endblock %}

{% block body %}
    <h1>Bathroom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bathroom.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ bathroom.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ bathroom.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bathroom.prix }}</td>
            </tr>
            <tr>
                <th>NbrProduit</th>
                <td>{{ bathroom.nbrProduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bathroom_index') }}">back to list</a>

    <a href="{{ path('app_bathroom_edit', {'id': bathroom.id}) }}">edit</a>

    {{ include('bathroom/_delete_form.html.twig') }}
{% endblock %}
