{% extends 'base.html.twig' %}

{% block title %}Kitchen index{% endblock %}

{% block body %}
    <h1>Kitchen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>NbrProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kitchen in kitchens %}
            <tr>
                <td>{{ kitchen.id }}</td>
                <td>{{ kitchen.nom }}</td>
                <td>{{ kitchen.marque }}</td>
                <td>{{ kitchen.prix }}</td>
                <td>{{ kitchen.nbrProduit }}</td>
                <td>
                    <a href="{{ path('app_kitchen_show', {'id': kitchen.id}) }}">show</a>
                    <a href="{{ path('app_kitchen_edit', {'id': kitchen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_kitchen_new') }}">Create new</a>
{% endblock %}
