{% extends 'base.html.twig' %}

{% block title %}Kitchen{% endblock %}

{% block body %}
    <h1>Kitchen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kitchen.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ kitchen.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ kitchen.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ kitchen.prix }}</td>
            </tr>
            <tr>
                <th>NbrProduit</th>
                <td>{{ kitchen.nbrProduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_kitchen_index') }}">back to list</a>

    <a href="{{ path('app_kitchen_edit', {'id': kitchen.id}) }}">edit</a>

    {{ include('kitchen/_delete_form.html.twig') }}
{% endblock %}
