<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script type="text/javascript" src="{{ asset('js/app.js')}}"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <style>

        </style>
        <div class="container-header">
            <h1 class="title" id="adamasTitleHeader">Adamas</h1>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/bathroom/">Salle de bain</a></li>
                <li><a href="/kitchen/">Cuisine</a></li>
                <li><a href="/bedroom/">Chambre</a></li>
                <li><a href="/office/">Bureau</a></li>
                <li><a href="/living-room/">Salon</a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
