<form method="post" action="{{ path('app_living_room_delete', {'id': living_room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ living_room.id) }}">
    <button class="btn">Delete</button>
</form>
