{% extends 'base.html.twig' %}

{% block title %}LivingRoom index{% endblock %}

{% block body %}
    <h1>LivingRoom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>NbrProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for living_room in living_rooms %}
            <tr>
                <td>{{ living_room.id }}</td>
                <td>{{ living_room.nom }}</td>
                <td>{{ living_room.marque }}</td>
                <td>{{ living_room.prix }}</td>
                <td>{{ living_room.nbrProduit }}</td>
                <td>
                    <a href="{{ path('app_living_room_show', {'id': living_room.id}) }}">show</a>
                    <a href="{{ path('app_living_room_edit', {'id': living_room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_living_room_new') }}">Create new</a>
{% endblock %}
