{% extends 'base.html.twig' %}

{% block title %}LivingRoom{% endblock %}

{% block body %}
    <h1>LivingRoom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ living_room.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ living_room.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ living_room.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ living_room.prix }}</td>
            </tr>
            <tr>
                <th>NbrProduit</th>
                <td>{{ living_room.nbrProduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_living_room_index') }}">back to list</a>

    <a href="{{ path('app_living_room_edit', {'id': living_room.id}) }}">edit</a>

    {{ include('living_room/_delete_form.html.twig') }}
{% endblock %}
