<form method="post" action="{{ path('app_bedroom_delete', {'id': bedroom.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bedroom.id) }}">
    <button class="btn">Delete</button>
</form>
