{% extends 'base.html.twig' %}

{% block title %}Edit Bedroom{% endblock %}

{% block body %}
    <h1>Edit Bedroom</h1>

    {{ include('bedroom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bedroom_index') }}">back to list</a>

    {{ include('bedroom/_delete_form.html.twig') }}
{% endblock %}
