{% extends 'base.html.twig' %}

{% block title %}Bedroom index{% endblock %}

{% block body %}
    <h1>Bedroom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>NbrProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bedroom in bedrooms %}
            <tr>
                <td>{{ bedroom.id }}</td>
                <td>{{ bedroom.nom }}</td>
                <td>{{ bedroom.marque }}</td>
                <td>{{ bedroom.prix }}</td>
                <td>{{ bedroom.nbrProduit }}</td>
                <td>
                    <a href="{{ path('app_bedroom_show', {'id': bedroom.id}) }}">show</a>
                    <a href="{{ path('app_bedroom_edit', {'id': bedroom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bedroom_new') }}">Create new</a>
{% endblock %}
