{% extends 'base.html.twig' %}

{% block title %}New Bedroom{% endblock %}

{% block body %}
    <h1>Create new Bedroom</h1>

    {{ include('bedroom/_form.html.twig') }}

    <a href="{{ path('app_bedroom_index') }}">back to list</a>
{% endblock %}
